@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,500,300);
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(circle, red, yellow, green); /* Standard syntax */  
  font-family: "Raleway",helvetica,sans-serif;
}

#container {
  width: 53em;
  margin: 4em auto;
}

.plan {
  width: 17em;
  height: auto;
  background: #f8f8f8;
  margin: .4em 0 .4em .4em;
  float: left;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
}
.plan header {
  height: 2.7419354839em;
  width: 100%;
  display: block;
  background: #323232;
  text-align: center;
  float: left;
}
.plan header h2 {
  color: #dbe0e5;
  text-transform: uppercase;
  line-height: .2;
  font-weight: 500;
}
.plan header h2:before {
  content: "Company";
}
.plan header h2 span {
  text-transform: capitalize;
  display: inline-block;
  color: #656b6e;
}
.plan header h2 span:after {
  content: "Name";
}
.plan .offer {
  height: 4.3870967742em;
  width: 100%;
  text-align: center;
  font-size: 1.8888888889em;
  line-height: 2.4;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
}
.plan .list {
  width: 100%;
}
.plan .list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  float: left;
  height: auto;
  overflow: hidden;
  background: #ededed;
}
.plan .list ul li {
  width: 100%;
  display: block;
  height: auto;
  padding: 1.6em;
  text-align: center;
  box-shadow: inset 0 -0.15em 0 rgba(0, 0, 0, 0.1);
  color: #888792;
}
.plan footer {
  display: block;
  float: left;
  height: 5.7909677419em;
  width: 100%;
  background: #fff;
  border-bottom: 0.5849462366em solid #323232;
  padding: 1em;
}
.plan footer .button {
  display: block;
  width: 5.264516129em;
  margin: 0.1199971765em auto;
  padding: 0.2193548387em;
  text-align: center;
  text-decoration: none;
  font-size: 1.85em;
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
}
.plan footer .button:after {
  content: "More";
}
.plan.blue {
  background: #8ab0c1;
  color: #fff;
}
.plan.blue p:after {
  content: "Free Plan";
}
.plan.blue .list ul li:nth-child(1):after {
  content: "4 Social networks";
}
.plan.blue .list ul li:nth-child(2):after {
  content: "Statistics";
}
.plan.blue .list ul li:nth-child(3):after {
  content: "Manage your social feed";
}
.plan.green {
  background: #2ecc71;
  color: #fff;
}
.plan.green p:after {
  content: "$5/Month";
}
.plan.green .list ul li:nth-child(1):after {
  content: "Any Social networks";
}
.plan.green .list ul li:nth-child(2):after {
  content: "Statistics / 1 free domain";
}
.plan.green .list ul li:nth-child(3):after {
  content: "All social options enabled";
}
.plan.gold {
  background: #f1c40f;
  color: #fff;
}
.plan.gold p:after {
  content: "$10/Month";
}
.plan.gold .list ul li:nth-child(1):after {
  content: "All social options enabled";
}
.plan.gold .list ul li:nth-child(2):after {
  content: "Up to 3 free domains";
}
.plan.gold .list ul li:nth-child(3):after {
  content: "Video chat + screen sharing";
}

.plan.blue .button {
  background: #8ab0c1;
}

.plan.green .button {
  background: #2ecc71;
}

.plan.gold .button {
  background: #f1c40f;
}

@media all and (max-width: 55em) {
  #container {
    width: 100%;
  }

  .plan {
    margin: auto 0;
    box-shadow: 0 0 0 !important;
    width: 33.33%;
    font-size: .9em !important;
  }
  .plan:nth-child(1) header, .plan:nth-child(3) header {
    height: 3.8387096774em !important;
  }
  .plan:nth-child(1) header h2, .plan:nth-child(3) header h2 {
    display: none;
  }
  .plan:nth-child(2) header {
    height: 3.8387096774em !important;
  }
  .plan:nth-child(2) header h2 {
    line-height: 1;
  }

  .blue .offer {
    background: -webkit-linear-gradient(left, #8ab0c1, #8ab0c1, #8ab0c1, #8ab0c1, #2ecc71);
    background: linear-gradient(to right, #8ab0c1, #8ab0c1, #8ab0c1, #8ab0c1, #2ecc71);
  }

  .green .offer {
    background: -webkit-linear-gradient(left, #2ecc71, #2ecc71, #2ecc71, #2ecc71, #f1c40f);
    background: linear-gradient(to right, #2ecc71, #2ecc71, #2ecc71, #2ecc71, #f1c40f);
  }

  .gold .offer {
    background: -webkit-linear-gradient(left, #f1c40f, #f1c40f, #f1c40f, #f1c40f, #f1c40f);
    background: linear-gradient(to right, #f1c40f, #f1c40f, #f1c40f, #f1c40f, #f1c40f);
  }
}
@media all and (max-width: 43em) {
  #container {
    margin: 0;
  }

  .plan {
    font-size: 1em !important;
    margin: auto 0;
    box-shadow: 0 0 0 !important;
    width: 100%;
    border-bottom-size: .2em;
  }
  .plan:nth-child(2) header, .plan:nth-child(3) header {
    display: none;
  }
  .plan:nth-child(1) header {
    height: 3.8387096774em !important;
  }
  .plan:nth-child(1) header h2 {
    display: block;
    line-height: 1;
  }
  .plan footer .button {
    width: 92%;
    margin: .2em 4%;
  }

  .blue .offer {
    background: #8ab0c1;
  }

  .green .offer {
    background: #2ecc71;
  }

  .gold .offer {
    background: #f1c40f;
  }
}
